{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoQueCambia2 %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">NOSOTROS</h2>



{% endblock %}

{% block contenidoQueCambia %}

<div class="container d-flex justify-content-around m-3">
    <div class="card" style="width: 18rem;">
        <img src="https://via.placeholder.com/230x306" class="card-img-top" alt="Daniela">
        <h3>Daniela Antonella Nicodemo Corrente </h3>
        <div class="card-body">
          <p class="card-text">.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static '/AppCoder/assets/img/ezequiel.JPG' %}" class="card-img-top" alt="ezequiel">
        <h3>Galardi, Ezequiel Nahuel</h3>
        <div class="card-body">
          <p class="card-text">Rosario, Santa Fe, Argentina.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'AppCoder/assets/img/jonatan.jpeg' %}" class="card-img-top" alt="jonatan">
        <h3>Jonatan Nunez Morgado</h3>
        <div class="card-body">
          <p class="card-text">Rosario, Santa Fe, Argentina.</p>
        </div>
      </div>


</div>
        
{% endblock %}
