{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoQueCambia2 %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">REGISTRO DE USUARIO</h2>
{% endblock %}

{% block contenidoQueCambia %}


<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="{% static 'AppCoder/assets/img/brocha - copia.jpg' %}" alt="..." /></div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Registrate!</h4>
                    <p class="mb-0 text-white-50">Creá tu usuario y contraseña.</p>
                    <hr class="d-none d-lg-block mb-0 ms-0" />

                    {% if miFormulario.errors  %}

                    <p>ERROR!!!!</p>
                    {% endif %}

                    <form action="" method= "POST" class="d-flex flex-column text-white p-3 mx-5">

                        {% csrf_token  %}

                        {{form.as_table}}
                        
                    
                        <div class="m-3">
                            <input type="submit" value= "REGISTRATE!" class="btn btn-primary">
                        </div>
                        
                    </form>

                    <br>
                        <a href="{% url 'Login' %}" class="btn btn-secondary">REGRESAR</a>
                            
                    <br>

                        
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}